::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

div {
  box-sizing:border-box;
}

body {
  background: #25e5f9;
}

.horizontal-scroll-wrapper {
  position:absolute;
  display:block;
  width:895px;
  margin-left:-815px !important;
  max-height:1800px;
  margin:0;
  background:#abc;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
}

.rectangles {
  padding:100px 0 100px 0;
}

.rectangles > div {
  width:2000px;
  height:800px;
  margin: 2000px 0px;
  margin-bottom: -800px;
  padding:5px;
  background:#fff;
  border: 1px solid black;
  transform:rotate(90deg) translateY(1155px);
  transform-origin: right top;
}
